<section class="todoapp">
	<header class="header">
		<h1>todos</h1>
		<input class="new-todo" placeholder="What needs to be done?" autofocus="" [(ngModel)]="newTodoText" (keyup.enter)="addTodo()">
	</header>

	<section class="main" *ngIf="todos.length > 0">
		<input class="toggle-all" type="checkbox" *ngIf="todos.length" #toggleall [checked]="allCompleted()" (click)="setAllTo(toggleall.checked)">
		<todo-list-cmp
			[todos]="todos"
			(toggle)="toggle($event)"
			(update)="update($event)"
			(remove)="remove($event)"
		></todo-list-cmp>
	</section>

	<footer class="footer" *ngIf="todos.length > 0">
		<span class="todo-count"><strong>{{getRemaining().length}}</strong> {{getRemaining().length == 1 ? 'item' : 'items'}} left</span>
		<button class="clear-completed" *ngIf="getCompleted().length > 0" (click)="removeCompleted()">Clear completed</button>
	</footer>
</section>
